@*
Copyright (C) 2022 Yusuf Kozan

---

Bu belge Yağ Kandili'nin bir parçasıdır.

Yağ Kandili bir özgür yazılımdır: GNU Affero Genel Kamu Lisansı'nın 3.
ya da (isteğinize göre) sonraki bir sürümünün Free Software Foundation
tarafından yayınlandığı durumunun koşulları altında Yağ Kandili'ni
dağıtabilir veya Yağ Kandili üzerinde değişiklik yapabilirsiniz.

Yağ Kandili kullanışlı olması umuduyla dağıtılmaktadır ancak HİÇBİR
GARANTİ VERMEMEKTEDİR, zımni PAZARLANABİLİRLİK veya BELİRLİ BİR
AMACA UYGUNLUK garantisi bile. Daha çok ayrıntı için GNU Affero
Genel Kamu Lisansı'na bakın.

Yağ Kandili'nin yanında GNU Affero Genel Kamu Lisansı'nın bir kopyasını
almış olmalısınız. Almadıysanız, <https://www.gnu.org/licenses/>
adresine bakın.

Yağ Kandili'nin lisansıyla ilgili daha çok bilgi için /Lisans
dizinine bakın.

---

This file is part of Yağ Kandili.

Yağ Kandili is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

Yağ Kandili is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Yağ Kandili. If not, see <https://www.gnu.org/licenses/>.

For more information about the license of Yağ Kandili, see
/Lisans directory.
*@
@inject NavigationManager NavigationManager
@using Esas
@namespace Bileşenler

@for (int i = 0; i < paylaşımlar.Length; i++)
{
    int tur = i;
    <div class="kutu_0_120_0 p-kutu-bileşen"
    style="text-align: start; overflow: hidden;">
        <a class="başlık_0-120-0" style="display: block; text-align: start;"
        href="paylaşım/@(paylaşımlar[i].KİMLİK_2)">@(paylaşımlar[i].BAŞLIK)</a>

        <p style="white-space: pre-line; color: black;">@(paylaşımlar[i].İÇERİK)</p>
        
        <div style="text-align: left; width: 50%; float: left;">
            <button class="düğme_9900ff" style="font-size: large;"
            @onclick="() => Gizle(paylaşımlar[tur].KİMLİK_2, tur)"
            >@(erişim_düğmesi[i])</button>
        </div>
        <div style="text-align: right; width: 50%; float: right; font-size: x-large;">
            <Değerlendir değerlendiren=@bakan değerlendirilen=@(paylaşımlar[tur].KİMLİK_2)/>
        </div>
    </div>
}

@code {
    [Parameter]
    public string bakan {get; set;}


    private string[] erişim_düğmesi;
    private short[] erişim_sayacı;
    private void Gizle(string kimlik2, int tur)
    {
        if (erişim_sayacı[tur] == 0)
        {
            erişim_düğmesi[tur] = "Evet, Gerçekten Gizle";
            erişim_sayacı[tur]++;
        }
        else if (erişim_sayacı[tur] == 1)
        {
            Esas.KişiselVeriler.İşlemler.PaylaşımıGizle(bakan, kimlik2);
            erişim_sayacı[tur]--;
            erişim_düğmesi[tur] = "Paylaşımı Gizle";
            OnParametersSet();
        }
        else
        {
            erişim_düğmesi[tur] = "Paylaşımı Gizle";
            erişim_sayacı[tur] = 0;
        }
    }

    private paylaşım[] paylaşımlar;
    protected override void OnParametersSet()
    {
        paylaşımlar = Esas.VeriTabanı.Paylaşım.KişininTümAçıkPaylaşımları(bakan);
        erişim_düğmesi = new string[paylaşımlar.Length];
        erişim_sayacı = new short[paylaşımlar.Length];
        for (int i = 0; i < paylaşımlar.Length; i++)
        {
            erişim_düğmesi[i] = "Paylaşımı Gizle";
            erişim_sayacı[i] = 0;
        }
    }
}