@*
Copyright (C) 2022 Yusuf Kozan

---

Bu belge Yağ Kandili'nin bir parçasıdır.

Yağ Kandili bir özgür yazılımdır: GNU Affero Genel Kamu Lisansı'nın 3.
ya da (isteğinize göre) sonraki bir sürümünün Free Software Foundation
tarafından yayınlandığı durumunun koşulları altında Yağ Kandili'ni
dağıtabilir veya Yağ Kandili üzerinde değişiklik yapabilirsiniz.

Yağ Kandili kullanışlı olması umuduyla dağıtılmaktadır ancak HİÇBİR
GARANTİ VERMEMEKTEDİR, zımni PAZARLANABİLİRLİK veya BELİRLİ BİR
AMACA UYGUNLUK garantisi bile. Daha çok ayrıntı için GNU Affero
Genel Kamu Lisansı'na bakın.

Yağ Kandili'nin yanında GNU Affero Genel Kamu Lisansı'nın bir kopyasını
almış olmalısınız. Almadıysanız, <https://www.gnu.org/licenses/>
adresine bakın.

Yağ Kandili'nin lisansıyla ilgili daha çok bilgi için /Lisans
dizinine bakın.

---

This file is part of Yağ Kandili.

Yağ Kandili is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

Yağ Kandili is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Yağ Kandili. If not, see <https://www.gnu.org/licenses/>.

For more information about the license of Yağ Kandili, see
/Lisans directory.
*@
@namespace Bileşenler

<button class="düğme_0_120_0" style="font-size:large; font-weight:normal;"
            @onclick="TakipEtYaDaTakibiBırak">@düğme_yazısı</button>

@code {
    [Parameter]
    public string takip_eden {get; set;} // kimlik türünde
    [Parameter]
    public string takip_edilen {get; set;} // kimlik türünde
    
    public bool takip_ediyor;

    private string düğme_yazısı {get; set;}
    private void TakipEtYaDaTakibiBırak()
    {
        if (!takip_ediyor)
        {
            İşlemler.Takipİşlemleri.TakipEt(takip_eden, takip_edilen,
                                            1, DateTime.Now);
        }
        else
        {
            Esas.VeriTabanı.Takip.TakibiBırak(takip_eden, takip_edilen);
        }
        OnParametersSet();
    }

    protected override void OnParametersSet()
    {
        takip_ediyor = Esas.VeriTabanı.Takip.TakipEdiliyor(takip_eden, takip_edilen);
        if (!takip_ediyor)
        {
            düğme_yazısı = "Takip Et";
        }
        else
        {
            düğme_yazısı = "Takibi Bırak";
        }
    }
}