@inject NavigationManager NavigationManager
@namespace Bileşenler

<div style="text-align: center; height: 20%; color: white; font-family: Lexend;">
    <img src="@kişi.RESİM" style="height: 100%;"/>
</div>
<div style="text-align: center; font-family: Lexend; margin: 2%">
    <button style="margin-bottom: 0; border: none; background: transparent;
    cursor: pointer; color: white; font-weight: bold; font-size: 1.5em;"
    @onclick="KendineGit">@kişi.KULLANICI_ADI</button>
</div>

@code {
    [Parameter]
    public ÜyeBil kişi {private get; set;}

    private void KendineGit()
    {
        sayfa.EnHerŞey.her_şeyin_düğmesi();
        NavigationManager.NavigateTo("/kendi");
    }
}