
<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(GirişTaslak)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(GirişTaslak)">
            <h1 style="font-family: Lexend, sans-serif; text-align: center;">
                <a class="Yükleniyor" style="text-decoration: none;"
                href="/">Böyle bir sayfa yok.</a>
            </h1>
        </LayoutView>
    </NotFound>
</Router>
