@*
Copyright (C) 2022 Yusuf Kozan

---

Bu belge Yağ Kandili'nin bir parçasıdır.

Yağ Kandili bir özgür yazılımdır: GNU Affero Genel Kamu Lisansı'nın 3.
ya da (isteğinize göre) sonraki bir sürümünün Free Software Foundation
tarafından yayınlandığı durumunun koşulları altında Yağ Kandili'ni
dağıtabilir veya Yağ Kandili üzerinde değişiklik yapabilirsiniz.

Yağ Kandili kullanışlı olması umuduyla dağıtılmaktadır ancak HİÇBİR
GARANTİ VERMEMEKTEDİR, zımni PAZARLANABİLİRLİK veya BELİRLİ BİR
AMACA UYGUNLUK garantisi bile. Daha çok ayrıntı için GNU Affero
Genel Kamu Lisansı'na bakın.

Yağ Kandili'nin yanında GNU Affero Genel Kamu Lisansı'nın bir kopyasını
almış olmalısınız. Almadıysanız, <https://www.gnu.org/licenses/>
adresine bakın.

Yağ Kandili'nin lisansıyla ilgili daha çok bilgi için /Lisans
dizinine bakın.

---

This file is part of Yağ Kandili.

Yağ Kandili is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

Yağ Kandili is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Yağ Kandili. If not, see <https://www.gnu.org/licenses/>.

For more information about the license of Yağ Kandili, see
/Lisans directory.
*@
@using Esas
@namespace Bileşenler.Seçenekler

<div class="kutu_0069ff" style="text-align: center; width: 80%;
    margin-left: auto; margin-right: auto; margin-top: 1%;
    margin-bottom: 1%;" id="kişisel veriler" autocomplete="off">

    @if (başlık == "Kişisel Verileri İndir")
    {
        <h4 style="color:#0069ff; font-size: xx-large;
            text-align: center;">@başlık</h4>
    }
    else
    {
        <h4 style="color:#6900ff; font-size: xx-large;
            text-align: center;">@başlık</h4>
        <!-- #0069ff ile #4169e1 birbirine biraz benzediği için
        kafa karışıklığını önlemek adına #6900ff kullanılıyor. -->
    }

    <input type="text" placeholder="Kullanıcı Adınız"
        class="tek-kenarlı-kutu_0069ff"
        style="width: 80%; text-align: start;
        margin-left: auto; margin-right: auto;"
        @bind="kullanıcı_adı" />

    <input type="password" placeholder="Parolanız"
        class="tek-kenarlı-kutu_0069ff"
        style="width: 80%; text-align: start;
        margin-left: auto; margin-right: auto;"
        @bind="parola" />

    <input type="button" value="Kişisel Verileri İste" class="düğme_0069ff"
        style="width: 80%; margin: 1%;" @onclick="İste" />

</div>

@code {
    [Parameter]
    public string kullanıcı_kimliği {get; set;}

    private string başlık = "Kişisel Verileri İndir";

    private string kullanıcı_adı;
    private string parola;

    private void İste()
    {
        if ( !( String.IsNullOrWhiteSpace(kullanıcı_adı) || String.IsNullOrWhiteSpace(parola) ) )
        {
            string kullanıcı_kimliği = Esas.VeriTabanı.Üyelik.KullanıcınınKimliği(kullanıcı_adı);
            string sonuç = Esas.KişiselVeriler.İşlemler.KV_İste(kullanıcı_kimliği, parola);
            başlık = sonuç;
        }
        else
        {
            başlık = "İşlem tamamlanamadı.";
        }
    }
}