@namespace Bileşenler.Seçenekler

<div class="kutu_0_120_0" style="text-align: center; width: 80%;
    margin-left: auto; margin-right: auto; margin-top: 1%"
    id="parola_değiştir" autocomplete="off">
    
    @if(başlık == "Parola Değiştir")
    {
        <h4 style="color:rgb(0,120,0); font-size: xx-large;
            text-align: center;">@başlık</h4>
    }
    else
    {
        <h4 style="color:#4169e1; font-size: xx-large;
            text-align: center;">@başlık</h4>
    }
    
    <input type="password" placeholder="Şimdiki Parolanız"
        class="tek-kenarlı-kutu_0_120_0"
        style="width: 80%; text-align: start; 
        margin-left: auto; margin-right:auto;"
        @bind="eski_parola"/>

    <input type="password" placeholder="Yeni Parolanız"
        class="tek-kenarlı-kutu_0_120_0"
        style="width: 80%; text-align: start; 
        margin-left: auto; margin-right:auto;"
        @bind="yeni_parola"/>

    <input type="password" placeholder="Yeni Parolanız (Tekrar)"
        class="tek-kenarlı-kutu_0_120_0"
        style="width: 80%; text-align: start; 
        margin-left: auto; margin-right:auto;"
        @bind="YineYeniParola"/>

    <input type="button" value="Parolayı Değiştir" class="düğme_0_120_0"
        style="width: 80%; margin: 1%;" @onclick="ParolayıDeğiştir"/>
</div>

@code {
    [Parameter]
    public string kullanıcı_kimliği {get; set;}

    private string başlık = "Parola Değiştir";

    private string eski_parola {get; set;}
    private string yeni_parola {get; set;}
    private string YineYeniParola {get; set;}

    private void ParolayıDeğiştir()
    {
        if (String.IsNullOrWhiteSpace(eski_parola) || 
            String.IsNullOrWhiteSpace(yeni_parola) ||
            String.IsNullOrWhiteSpace(YineYeniParola))
        {
            başlık = "Değişim Yapılamadı";
        }
        else if (yeni_parola == YineYeniParola)
        {
            bool değişti = Esas.VeriTabanı.Üyelik.BilinenParolayıDeğiştir(
                            kullanıcı_kimliği, eski_parola, yeni_parola);
            eski_parola = null;
            yeni_parola = null;
            YineYeniParola = null;
            if (değişti)
            {
                başlık = "Değişim Başarılı";

                ÜyeBil kullanıcı = Esas.VeriTabanı.Üyelik.ÜyeBilgileri(kullanıcı_kimliği);
                Esas.Posta.GönderenBilgisi gönderen = new Esas.Posta.GönderenBilgisi();
                gönderen.AyarBelgesiniOku();
                string konu = "Yağ Kandili Güvenlik Uyarısı";
                string içerik = "Parolanız Değiştirildi.";
                Esas.Posta.PostaGönder.TekKullanıcıyaGönder(gönderen, kullanıcı, konu, içerik);

                StateHasChanged();
            }
            else
            {
                başlık = "Değişim Yapılamadı";
            }
        }
        else
        {
            yeni_parola = null;
            YineYeniParola = null;
            başlık = "Yeni Parolalar Aynı Değil";
        }
    }
}