@*
Copyright (C) 2022 Yusuf Kozan

---

Bu belge Yağ Kandili'nin bir parçasıdır.

Yağ Kandili bir özgür yazılımdır: GNU Affero Genel Kamu Lisansı'nın 3.
ya da (isteğinize göre) sonraki bir sürümünün Free Software Foundation
tarafından yayınlandığı durumunun koşulları altında Yağ Kandili'ni
dağıtabilir veya Yağ Kandili üzerinde değişiklik yapabilirsiniz.

Yağ Kandili kullanışlı olması umuduyla dağıtılmaktadır ancak HİÇBİR
GARANTİ VERMEMEKTEDİR, zımni PAZARLANABİLİRLİK veya BELİRLİ BİR
AMACA UYGUNLUK garantisi bile. Daha çok ayrıntı için GNU Affero
Genel Kamu Lisansı'na bakın.

Yağ Kandili'nin yanında GNU Affero Genel Kamu Lisansı'nın bir kopyasını
almış olmalısınız. Almadıysanız, <https://www.gnu.org/licenses/>
adresine bakın.

Yağ Kandili'nin lisansıyla ilgili daha çok bilgi için /Lisans
dizinine bakın.

---

This file is part of Yağ Kandili.

Yağ Kandili is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

Yağ Kandili is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Yağ Kandili. If not, see <https://www.gnu.org/licenses/>.

For more information about the license of Yağ Kandili, see
/Lisans directory.
*@
@namespace Bileşenler.Seçenekler

<div class="kutu_0_120_0" style="text-align: center; width: 80%;
    margin-left: auto; margin-right: auto; margin-top: 1%"
    id="parola_değiştir" autocomplete="off">
    
    @if(başlık == "Parola Değiştir")
    {
        <h4 style="color:rgb(0,120,0); font-size: xx-large;
            text-align: center;">@başlık</h4>
    }
    else
    {
        <h4 style="color:#4169e1; font-size: xx-large;
            text-align: center;">@başlık</h4>
    }
    
    <input type="password" placeholder="Şimdiki Parolanız"
        class="tek-kenarlı-kutu_0_120_0"
        style="width: 80%; text-align: start; 
        margin-left: auto; margin-right:auto;"
        @bind="eski_parola"/>

    <input type="password" placeholder="Yeni Parolanız"
        class="tek-kenarlı-kutu_0_120_0"
        style="width: 80%; text-align: start; 
        margin-left: auto; margin-right:auto;"
        @bind="yeni_parola"/>

    <input type="password" placeholder="Yeni Parolanız (Tekrar)"
        class="tek-kenarlı-kutu_0_120_0"
        style="width: 80%; text-align: start; 
        margin-left: auto; margin-right:auto;"
        @bind="YineYeniParola"/>

    <input type="button" value="Parolayı Değiştir" class="düğme_0_120_0"
        style="width: 80%; margin: 1%;" @onclick="ParolayıDeğiştir"/>
</div>

@code {
    [Parameter]
    public string kullanıcı_kimliği {get; set;}

    private string başlık = "Parola Değiştir";

    private string eski_parola {get; set;}
    private string yeni_parola {get; set;}
    private string YineYeniParola {get; set;}

    private void ParolayıDeğiştir()
    {
        if (String.IsNullOrWhiteSpace(eski_parola) || 
            String.IsNullOrWhiteSpace(yeni_parola) ||
            String.IsNullOrWhiteSpace(YineYeniParola))
        {
            başlık = "Değişim Yapılamadı";
        }
        else if (yeni_parola == YineYeniParola)
        {
            bool değişti = Esas.VeriTabanı.Üyelik.BilinenParolayıDeğiştir(
                            kullanıcı_kimliği, eski_parola, yeni_parola);
            eski_parola = null;
            yeni_parola = null;
            YineYeniParola = null;
            if (değişti)
            {
                başlık = "Değişim Başarılı";

                ÜyeBil kullanıcı = Esas.VeriTabanı.Üyelik.ÜyeBilgileri(kullanıcı_kimliği);
                Esas.Posta.GönderenSMTPBilgisi gönderen_smtp = new Esas.Posta.GönderenSMTPBilgisi();
                gönderen_smtp.AyarBelgesiniOku();
                Esas.Posta.GönderenIMAPBilgisi gönderen_imap = new Esas.Posta.GönderenIMAPBilgisi();
                gönderen_imap.AyarBelgesiniOku();
                string konu = "Yağ Kandili Güvenlik Uyarısı";
                string içerik = "Parolanız Değiştirildi.";
                Esas.Posta.PostaGönder.TekKullanıcıyaGönder(gönderen_smtp, gönderen_imap, kullanıcı, konu, içerik);

                StateHasChanged();
            }
            else
            {
                başlık = "Değişim Yapılamadı";
            }
        }
        else
        {
            yeni_parola = null;
            YineYeniParola = null;
            başlık = "Yeni Parolalar Aynı Değil";
        }
    }
}