@*
Copyright (C) 2022 Yusuf Kozan

---

Bu belge Yağ Kandili'nin bir parçasıdır.

Yağ Kandili bir özgür yazılımdır: GNU Affero Genel Kamu Lisansı'nın 3.
ya da (isteğinize göre) sonraki bir sürümünün Free Software Foundation
tarafından yayınlandığı durumunun koşulları altında Yağ Kandili'ni
dağıtabilir veya Yağ Kandili üzerinde değişiklik yapabilirsiniz.

Yağ Kandili kullanışlı olması umuduyla dağıtılmaktadır ancak HİÇBİR
GARANTİ VERMEMEKTEDİR, zımni PAZARLANABİLİRLİK veya BELİRLİ BİR
AMACA UYGUNLUK garantisi bile. Daha çok ayrıntı için GNU Affero
Genel Kamu Lisansı'na bakın.

Yağ Kandili'nin yanında GNU Affero Genel Kamu Lisansı'nın bir kopyasını
almış olmalısınız. Almadıysanız, <https://www.gnu.org/licenses/>
adresine bakın.

Yağ Kandili'nin lisansıyla ilgili daha çok bilgi için /Lisans
dizinine bakın.

---

This file is part of Yağ Kandili.

Yağ Kandili is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

Yağ Kandili is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Yağ Kandili. If not, see <https://www.gnu.org/licenses/>.

For more information about the license of Yağ Kandili, see
/Lisans directory.
*@
@namespace Bileşenler.Künye

<div class="lisans_bildirimi" style="width: 80%; margin: 2% 10%;">
    <div style="text-align: center;">
            <button class="düğme_000000" @onclick="AydınlatmaMetni">@düğme_yazısı</button>
    </div>
    <div class="kutu_000000" style="@style">
        <h3 style="text-align: center;">Kişisel Verilerin Korunmasına İlişkin Aydınlatma Metni</h3>
        <p>Bu aydınlatma metni, 6698 sayılı Kişisel Verilerin Korunması Kanunu'nun
        10. maddesi ile Aydınlatma Yükümlülüğünün Yerine Getirilmesinde Uyulacak
        Usul ve Esaslar Hakkında Tebliğ kapsamında veri sorumlusu sıfatıyla Yusuf Kozan
        tarafından yazılmıştır.</p>

        <p>Kullanıcıya ait kişisel veriler olan ve Yağ Kandili’ndeki formlar ile
        düğmeler aracılığıyla toplanan</p>
        <ol>
            <li>Ad ve kullanıcı adı, kullanıcıyı diğer kullanıcılar arasında ayırt
            etmek ve kullanıcıya hitap edebilmek amacıyla;</li>
            <li>Parola, kullanıcının kimliğini doğrulamak amacıyla;</li>
            <li>E-posta adresi, kullanıcıyla doğrudan iletişime geçebilmek amacıyla;</li>
            <li>Yağ Kandili’ne üye olunan tarih, Yağ Kandili’nin kullanıcı sayısı
            istatistiğini yapmak amacıyla;</li>
            <li>Oturumların başlangıç ve bitiş tarihleri, kullanıcının kimliğinin
            doğrulanıp doğrulanmadığını ve yeniden kimlik doğrulaması yapması gereken
            zamanı saptamak amacıyla;</li>
            <li>Paylaşım, yorum ve sözler kullanıcıların birbiriyle iletişimini
            sağlamak amacıyla;</li>
            <li>Kullanıcının paylaşımlara verdiği sayısal değerler, değerlendirilen
            paylaşımın ve o paylaşımı yapan kullanıcının diğer kullanıcılar tarafından
            ne kadar beğenildiğini ölçmek amacıyla;</li>
            <li>Takip edilen kişiler ve söyleşiler, kullanıcıya hangi paylaşımların
            ve söyleşilerin öncelikli gösterilmesi gerektiğini saptamak amacıyla</li>
        </ol>
        <p>toplanmakta ve işlenmektedir.</p>

        <p>Bu verilerden parola, e-posta adresi, Yağ Kandili’ne üye olunan tarih,
        takip edilen kişi ve söyleşiler üçüncü kişilerle paylaşılmamaktadır. Parola,
        parola karma yöntemleriyle karılarak saklanmaktadır ve karılmamış hâli yalnızca
        kullanıcının kendisi tarafından bilinmektedir. Kimin kimi takip ettiği bilgisi
        saklı kalacak biçimde her kullanıcının takipçi sayısı diğer kullanıcılarla
        paylaşılmaktadır.</p>
        <p>Ad, kullanıcı adı, paylaşım, yorum ve sözler verileri Yağ Kandili’nin diğer
        kullanıcıları ile, kullanıcılar arasında iletişimin sağlanabilmesi amacıyla,
        Yağ Kandili’ni kullandıkları süre boyunca paylaşılmaktadır.</p>
        <p>Oturumların başlangıç ve bitiş tarihleri, oturumun teyit edilebilmesi
        amacıyla oturum süresince kullanıcının internet tarayıcısında çerez olarak
        saklanmaktadır. Bu sebeple yalnızca ilgili oturum süresi içinde, yalnızca o
        oturumun başlangıç ve bitiş tarihlerine, oturumun açık olduğu internet tarayıcısına
        erişimi olan herhangi bir kişi tarafından erişilebilmektedir.</p>
        <p>Her paylaşım için o paylaşıma kaç kişinin değer verdiği, verilen tüm değerlerin
        toplamı ve tüm değerlerin aritmetik ortalaması bilgileri; her kullanıcı için o
        kullanıcının tüm paylaşımlarına verilen tüm değerlerin toplamı ve aritmetik ortalaması
        bilgileri Yağ Kandili’nin kullanıcılarıyla paylaşılmaktadır. Ancak kimin neye ne
        kadar değer verdiği bilgisi üçüncü kişilerle paylaşılmamaktadır.</p>

        <p>Bu kişisel veriler Kanun'un 5. maddesinde belirtilen</p>
        <ol>
            <li>“Kanunlarda açıkça öngörülmesi.”,</li>
            <li>“Fiili imkânsızlık nedeniyle rızasını açıklayamayacak durumda bulunan
            veya rızasına hukuki geçerlilik tanınmayan kişinin kendisinin ya da bir
            başkasının hayatı veya beden bütünlüğünün korunması için zorunlu olması.”,</li>
            <li>“Bir sözleşmenin kurulması veya ifasıyla doğrudan doğruya ilgili olması
            kaydıyla, sözleşmenin taraflarına ait kişisel verilerin işlenmesinin gerekli
            olması.”,</li>
            <li>“Veri sorumlusunun hukuki yükümlülüğünü yerine getirebilmesi için
            zorunlu olması.”,</li>
            <li>“İlgili kişinin kendisi tarafından alenileştirilmiş olması.”,</li>
            <li>“Bir hakkın tesisi, kullanılması veya korunması için veri işlemenin
            zorunlu olması.”,</li>
            <li>“İlgili kişinin temel hak ve özgürlüklerine zarar vermemek kaydıyla,
            veri sorumlusunun meşru menfaatleri için veri işlenmesinin zorunlu olması.”</li>
        </ol>
        <p>hukuki sebeplerine dayalı olarak işlenebilecektir.</p>

        <p>Kanun'un “ilgili kişinin haklarını düzenleyen” 11. maddesi kapsamındaki
        taleplerinizi Veri Sorumlusuna Başvuru Usul ve Esasları Hakkında Tebliğ'e
        göre <a href="mailto:destek@yagkandili.com.tr">destek@yagkandili.com.tr</a>
        e-posta adresine yazılı olarak iletebilirsiniz.</p>

        <div style="text-align: center;">
            <button class="düğme_000000" @onclick="AydınlatmaMetni">@düğme_yazısı</button>
        </div>
    </div>
</div>

@code{
    private string style = "display: none; padding: 2%;";
    private string düğme_yazısı = "Kişisel Verilerin Korunmasına İlişkin\n" +
                                    "Aydınlatma Metnini Göster";
    private void AydınlatmaMetni()
    {
        if (!style.Contains("display: block;"))
        {
            style = "display: block; padding: 2%;";
            düğme_yazısı = "Aydınlatma Metnini Gizle";
        }
        else if (!style.Contains("display: none;"))
        {
            style = "display: none; padding: 2%;";
            düğme_yazısı = "Kişisel Verilerin Korunmasına İlişkin\n" +
                            "Aydınlatma Metnini Göster";
        }
    }
}