@*
Copyright (C) 2022 Yusuf Kozan

---

Bu belge Yağ Kandili'nin bir parçasıdır.

Yağ Kandili bir özgür yazılımdır: GNU Affero Genel Kamu Lisansı'nın 3.
ya da (isteğinize göre) sonraki bir sürümünün Free Software Foundation
tarafından yayınlandığı durumunun koşulları altında Yağ Kandili'ni
dağıtabilir veya Yağ Kandili üzerinde değişiklik yapabilirsiniz.

Yağ Kandili kullanışlı olması umuduyla dağıtılmaktadır ancak HİÇBİR
GARANTİ VERMEMEKTEDİR, zımni PAZARLANABİLİRLİK veya BELİRLİ BİR
AMACA UYGUNLUK garantisi bile. Daha çok ayrıntı için GNU Affero
Genel Kamu Lisansı'na bakın.

Yağ Kandili'nin yanında GNU Affero Genel Kamu Lisansı'nın bir kopyasını
almış olmalısınız. Almadıysanız, <https://www.gnu.org/licenses/>
adresine bakın.

Yağ Kandili'nin lisansıyla ilgili daha çok bilgi için /Lisans
dizinine bakın.

---

This file is part of Yağ Kandili.

Yağ Kandili is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

Yağ Kandili is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Yağ Kandili. If not, see <https://www.gnu.org/licenses/>.

For more information about the license of Yağ Kandili, see
/Lisans directory.
*@
@using Esas
@using System.Globalization
@namespace Bileşenler

<div class="birincil-yorum">
    <p>
        <b>@yorumlayan().KULLANICI_ADI:</b> @gösterilecek_söz.SÖZ <br/>
        <span style="font-size: small;">@tarih.ToString("dd.MM.yyyy HH.mm.ss")</span>
        <span style="font-size: small;">
            <a href="/söyleşi/@gösterilecek_söz.SÖYLEŞİ/yorum">Söyleşiye Git</a>
        </span>
    </p>
</div>

@code {
    [Parameter]
    public Esas.söz gösterilecek_söz {get; set;}
    DateTime tarih;
    private ÜyeBil yorumlayan()
    {
        return Esas.VeriTabanı.Üyelik.Kimliğinİyesi(gösterilecek_söz.SÖYLEYEN);
    }
    protected override void OnParametersSet()
    {
        CultureInfo TR = new CultureInfo("tr-TR");
        tarih = DateTime.ParseExact(gösterilecek_söz.TARİH, "yyyyMMddHHmmss", TR);
    }
}