.başlık_0-120-0 {
    font-family: Lexend, sans-serif;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    text-decoration: none;
    color: rgb(0,120,0);
    margin: 1%;
    border: none;
}
.başlık_9900ff {
    font-family: Lexend, sans-serif;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    text-decoration: none;
    color: #9900ff;
    margin: 1%;
    border: none;
}