.değerlendirme_düğmesi {
	background: transparent;
    border: solid transparent;
    color: gray;
    cursor: pointer;
    outline: none;
    display: inline-block;
    padding: auto;

    transition: 0.3s;
}
.değerlendirme_düğmesi:disabled {
    color: red;
}
.değerlendirme_düğmesi:enabled:hover {
    color: salmon;
    transition: 0.1s;
}

.düğme_0_120_0 {
    border: solid;
	border-radius: 7px;
	border-width: 3px;
	padding: 3px;
	padding-left: 11px;
	padding-right: 11px;
	font-family: sans-serif;
	color: rgb(255,255,255);
	background-color: rgb(0,120,0);
	border-color: rgb(0,120,0);
	cursor: pointer;
	margin: 4px;
	font-size: x-large;
	font-weight: bold;
	outline-style: none;
	text-align: center;
}
.düğme_0_120_0:hover {
    color: rgb(0,120,0);
	background-color: #ccf0cc;
	border-color: #ccf0cc;
}
.düğme_3baff7 {
    border: solid;
	border-radius: 7px;
	border-width: 3px;
	padding: 3px;
	padding-left: 11px;
	padding-right: 11px;
	font-family: sans-serif;
	color: rgb(255,255,255);
	background-color: #3baff7;
	border-color: #3baff7;
	cursor: pointer;
	margin: 4px;
	font-size: x-large;
	font-weight: bold;
	outline-style: none;
	text-align: center;
}
.düğme_3baff7:hover {
    color: #3baff7;
	background-color: #ceebfd;
	border-color: #ceebfd;
}
.düğme_0069ff {
    border: solid;
	border-radius: 7px;
	border-width: 3px;
	padding: 3px;
	padding-left: 11px;
	padding-right: 11px;
	font-family: sans-serif;
	color: rgb(255,255,255);
	background-color: #0069ff;
	border-color: #0069ff;
	cursor: pointer;
	margin: 4px;
	font-size: x-large;
	font-weight: bold;
	outline-style: none;
	text-align: center;
}
.düğme_0069ff:hover {
    color: #0069ff;
	background-color: #cce0ff;
	border-color: #cce0ff;
}
.düğme_808080 {
    border: solid;
	border-radius: 7px;
	border-width: 3px;
	padding: 3px;
	padding-left: 11px;
	padding-right: 11px;
	font-family: sans-serif;
	color: rgb(255,255,255);
	background-color: #808080;
	border-color: #808080;
	cursor: pointer;
	margin: 4px;
	font-size: x-large;
	font-weight: bold;
	outline-style: none;
	text-align: center;
}
.düğme_808080:hover {
    color: #808080;
	background-color: #e2e2e2;
	border-color: #e2e2e2;
}

.kutu_098bdc {
	border: solid 2px #098bdc;
	border-radius: 10px;
	padding: 3px;
	color: #098bdc;
	font-size: x-large;
	font-family: sans-serif;
	margin: 3px;
	outline-style: none;
}
.kutu_3baff7 {
	border: solid 2px #3baff7;
	border-radius: 10px;
	padding: 3px;
	color: #3baff7;
	font-size: x-large;
	font-family: sans-serif;
	margin: 3px;
	outline-style: none;
}
.kutu_0069ff {
	border: solid 2px #0069ff;
	border-radius: 10px;
	padding: 3px;
	color: #0069ff;
	font-size: x-large;
	font-family: sans-serif;
	margin: 3px;
	outline-style: none;
}
.kutu_0_120_0 {
	border: solid 2px rgb(0,120,0);
	border-radius: 10px;
	padding: 3px;
	color: rgb(0,120,0);
	font-size: x-large;
	font-family: sans-serif;
	margin: 3px;
	outline-style: none;
}

.tek-kenarlı-kutu_0_120_0 {
	border-style: none none solid none;
	border-width: 1px;
	border-color: rgb(0,120,0);
	padding: 3px;
	color: rgb(0,120,0);
	font-size: x-large;
	font-family: sans-serif;
	margin: 3px;
	outline-style: none;
}
.tek-kenarlı-kutu_0_120_0:focus {
	border-width: 3px;
	font-weight: bold;
}
.tek-kenarlı-kutu_0069ff {
	border-style: none none solid none;
	border-width: 1px;
	border-color: #0069ff;
	padding: 3px;
	color: #0069ff;
	font-size: x-large;
	font-family: sans-serif;
	margin: 3px;
	outline-style: none;
}
.tek-kenarlı-kutu_0069ff:focus {
	border-width: 3px;
	font-weight: bold;
}

.arama_sonucu {
	border-style: none none solid none;
    border-width: thin;
    border-color: #3baff7;

	margin: 1%;
	margin-left: auto;
	margin-right: auto;
	padding: 0.5%;
	width: 80%;

	font-size: x-large;
	font-family: sans-serif;
	font-weight: bold;
	text-decoration: none;

    color: #000000;
	display: block;
}
.arama_sonucu:hover {
	font-size: x-large;
	color: #3baff7;
	border-width: medium;
}