/*GirişTaslak.razor*/
.giriş-header {
	height: 10%;
	border-bottom: solid #ff6600;
	display: flex;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	align-items: center;
}
.giriş-header img {
	height: 90%;
	width: auto;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 0.25%;
	margin-bottom: 0.25%;
	float: left;
}
.giriş-header h2 {
	vertical-align: middle;
	color: black;
	float: left;
	display: table-cell;
}
.giriş-body {
    height: 90%;
    margin-bottom: 5%;
}
/*Giriş.razor*/
.giriş-iki {
	float: left;
	width: 50%;
	text-align: center;
}

/*AnaTaslak.razor*/
.ana-altlık {
	height: 10%;
	border-bottom: solid #ff6600;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	align-items: center;
	z-index: 1;
}
.ana-beden {
    height: 90%;
	margin-bottom: 5%;
	padding-bottom: 5%;
}
.her_şey_bölgesi {
	height: 0;
	width: 100%;
	position: fixed;
	z-index: 1;
	left: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.9);
	transition: 0.5s;
}

/*.gir2 {
	border-radius: 7px !important; 
	padding-top: 3px !important;
	padding-bottom: 3px !important;
	padding-right: 11px !important;
	padding-left: 11px !important;
	font-size: large !important;
}*/