.D2 {
	border:none;
	background-color: transparent;
	/*text-decoration: underline;*/
	font-family: Helvetica;
	color: rgb(10,140,10);
	cursor: pointer;
	margin: 3px;
	font-size: initial;
}
.D2:hover {
	text-decoration: none;
	color: rgb(20,170,20);
}
.D1 {
	border: solid;
	border-radius: 7px;
	border-width: 3px;
	padding: 3px;
	padding-left: 11px;
	padding-right: 11px;
	font-family: Helvetica;
	color: rgb(255,255,255);
	background-color: rgb(0,120,0);
	border-color: rgb(0,120,0);
	cursor: pointer;
	margin: 4px;
	font-size: large;
	font-weight: bold;
}
.D1:hover {
	color: rgb(0,120,0);
	background-color: #ffffff;
	/*border-width: 3px;*/
}
.D1yk {
	border: solid;
	border-radius: 7px;
	border-width: 3px;
	padding: 3px;
	padding-left: 11px;
	padding-right: 11px;
	font-family: sans-serif;
	color: rgb(255,255,255);
	background-color: #ff6600;
	border-color: #ff6600;
	cursor: pointer;
	margin: 4px;
	font-size: x-large;
	font-weight: bold;
}
.D1yk:hover {
	color: #ff6600;
	background-color: #ffd3b5;
	border-color: #ffd3b5;
	/*border-width: 3px;*/
}
.MetinKutusu1 {
	border: solid 2px rgb(0,120,0);
	border-radius: 4px;
	padding: 3px;
	color: rgb(0,120,0);
	font-size: x-large;
	margin: 3px;
}
.D3 {
	border: solid;
	border-radius: 7px;
	border-width: 3px;
	padding: 3px;
	padding-left: 11px;
	padding-right: 11px;
	font-family: Helvetica;
	background-color: rgb(255,255,255);
	color: rgb(0,120,0);
	border-color: rgb(0,120,0);
	cursor: pointer;
	margin: 4px;
	font-size: large;
	font-weight: bold;
}
.D3:hover {
	background-color: rgb(0,120,0);
	color: #ffffff;
	/*border-width: 3px;*/
}
.D3g {
	border: solid;
	border-radius: 7px;
	border-width: 3px;
	padding: 3px;
	padding-left: 11px;
	padding-right: 11px;
	font-family: Helvetica;
	background-color: #ffffff;
	color: #808080;
	border-color: #808080;
	cursor: pointer;
	margin: 4px;
	font-size: large;
	font-weight: bold;
}
.D3g:hover {
	background-color: #808080;
	color: #ffffff;
}

@media (orientation: landscape) and (min-width: 1000px) {
	.D2 {
		font-size: 10pt;
	}
	.D2:hover {
		font-size: 11pt;
	}
}