.p-genel {
    text-align: center;
    height: 100%;
}
.p-başlık {
    font-family: sans-serif, Helvetica, Arial;
    font-size: x-large;
    text-align: center;
    color: #cc22b2;
    font-weight: bold;
    margin: 1%;
    border: none;
}
.p-başlık-bileşen {
    font-family: sans-serif, Helvetica, Arial;
    font-size: x-large;
    text-align: center;
    color: #ff6600;
    font-weight: bold;
    margin: 1%;
    border: none;
    text-decoration: none;
}
.p-başlık-bileşen-mavi {
    font-family: sans-serif, Helvetica, Arial;
    font-size: x-large;
    text-align: center;
    color: #098bdc;
    font-weight: bold;
    margin: 1%;
    border: none;
    text-decoration: none;
}
.p-kutu-bileşen {
    width: 80%;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 0.5%;
    padding-left: 2%;
    padding-right: 2%;
    border-width: 3px;
    border-radius: 10px;
}
.p-başlık-yeşil {
    font-family: sans-serif, Helvetica, Arial;
    font-size: x-large;
    text-align: center;
    color: rgb(0, 120, 0);
    font-weight: bold;
    margin: 1%;
    border: none;
    text-decoration: none;
}
/*.p-başlık:hover span {
    display: none;
}
.p-başlık:hover::before {
    content: "Geri Dön";
    color: red;
}*/
.p-sayfa {
    width: 80%;
    margin: auto;
    font-size: large;
}