.birincil-yorum {
    border-style: none none solid none;
    border-width: medium;
    border-color: #808080;

    color: #000000;
}

.söz {
    border: none;
    margin-bottom: 1%;

    color: #000000;
    font-family: sans-serif;
}