@using Esas
@namespace Bileşenler

@for (int i = 0; i < söyleşiler.GetLength(0); ++i)
{
    <a class="kutu_0_120_0" href="/söyleşi/@söyleşiler[i,0]/takip_dizelgesi"
    style="display:block; width:80%; margin:auto; margin-bottom:1%;"
    >@söyleşiler[i,1]</a>
    <!-- Bağlantı metinlerine ilk söz de eklenecek. -->

}
<!-- Renk henüz belirlenmedi. Geçici olarak rgb(0,120,0) kullanılıyor. -->

@code {
    [Parameter]
    public string[,] söyleşiler {get; set;}
    //[sıra] [söyleşi kimliği, başlık]
}