@using Esas
@namespace Bileşenler

<div>
</div>

@code {
    [Parameter]
    public string değerlendirilen {get; set;}
    [Parameter]
    public string değerlendiren {get; set;}
    [Parameter]
    public string oturum {get; set;}
}