@page "/"
@namespace YağKandili.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="Yağ Kandili, özgür, sosyal medya, eğitim"/>
    <meta name="application-name" content="Yağ Kandili"/>
    <link rel="icon" href="logo/küçük-renkli.svg"/>
    <title>Yağ Kandili</title>
    <base href="~/" />

    <link rel="stylesheet" href="css/yazı_tipi/Lexend.css"/>
    <link rel="stylesheet" href="css/YK/Genel.css"/>
    <link rel="stylesheet" href="css/YK/DüğmelerİleKutular.css"/>
    <link rel="stylesheet" href="css/YK/Başlıklar.css"/>
    <link rel="stylesheet" href="css/YK/Esas.css"/>
    <link rel="stylesheet" href="css/YK/Paylaş.css"/>
    <link rel="stylesheet" href="css/YK/Söyleşiler.css"/>
    <link rel="stylesheet" href="css/YK/KişiSayfası.css"/>
    <link rel="stylesheet" href="css/YK/GeçiciSayfa.css"/>
</head>
<body style="height: max-content;">
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>


    <script src="_framework/blazor.server.js"></script>
    <script src="JavaScript/Çerez.js"></script>
</body>
</html>

