@page "/ana"
@using Esas
@using Kilnevüg
@using Bileşenler
@inject IJSRuntime JSruntime
@inject NavigationManager NavigationManager


    <h1>@a</h1>


@code {
    private string a;
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var c = await JSruntime.InvokeAsync<string>("Çerezİşleri.ÇerezOku", "kullanıcı_adı");
        a = c.ToString();
        StateHasChanged();
    }
}