@*
Copyright (C) 2022-2023 Yusuf Kozan

---

Bu belge Yağ Kandili'nin bir parçasıdır.

Yağ Kandili bir özgür yazılımdır: GNU Affero Genel Kamu Lisansı'nın 3.
ya da (isteğinize göre) sonraki bir sürümünün Free Software Foundation
tarafından yayınlandığı durumunun koşulları altında Yağ Kandili'ni
dağıtabilir veya Yağ Kandili üzerinde değişiklik yapabilirsiniz.

Yağ Kandili kullanışlı olması umuduyla dağıtılmaktadır ancak HİÇBİR
GARANTİ VERMEMEKTEDİR, zımni PAZARLANABİLİRLİK veya BELİRLİ BİR
AMACA UYGUNLUK garantisi bile. Daha çok ayrıntı için GNU Affero
Genel Kamu Lisansı'na bakın.

Yağ Kandili'nin yanında GNU Affero Genel Kamu Lisansı'nın bir kopyasını
almış olmalısınız. Almadıysanız, <https://www.gnu.org/licenses/>
adresine bakın.

Yağ Kandili'nin lisansıyla ilgili daha çok bilgi için /Lisans
dizinine bakın.

---

This file is part of Yağ Kandili.

Yağ Kandili is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

Yağ Kandili is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Yağ Kandili. If not, see <https://www.gnu.org/licenses/>.

For more information about the license of Yağ Kandili, see
/Lisans directory.
*@
@page "/"
@layout AnaTaslak
@using Esas
@using Bileşenler
@inject NavigationManager NavigationManager

<div id="giriş-gövde">
    <div id="giriş-işler">
        <div id="giriş-işler-baş">
            <button class="sekme_ff6600" disabled="@girişte"
            @onclick="KandilYaktır" id="giriş-gir">Giriş Yap</button>
            <button class="sekme_ff6600" disabled="@(!girişte)"
            @onclick="GirişYaptır" id="giriş-yak">Kandil Yak</button>
        </div>
        @if (girişte)
        {
            <OturumAç/>
        }
        else
        {
            <ÜyeOl/>
        }
    </div>
    <div id="giriş-bilgiler">
        <img src="/logo/büyük-renkli.svg" id="giriş-marka"
        alt="Yağ Kandili markası"/>
        <br/>
        <h2>Büsbütün Özgür Yazılım Olan<br/>
        Bir Toplumsal İletişim Ortamı</h2>
        <a href="https://github.com/Yusuf-Kozan/Yag-Kandili"
        class="düğme_0069ff giriş-düğme" target="_blank"
        >Kaynak Kodları (GitHub)</a>
        <a href="/Künye" class="düğme_0_120_0 giriş-düğme"
        target="_self">Künye</a>
    </div>
</div>

@code {
    private bool girişte = true;

    private void KandilYaktır()
    {
        girişte = true;
    }

    private void GirişYaptır()
    {
        girişte = false;
    }
}