@page "/"
@using Esas
@using Bileşenler
@inject NavigationManager NavigationManager

<div>
    @if (düğme == 0) //ana sayfa
    {
        <div style="text-align: center; position: sticky;">
            <button class="D3 gir2" @onclick="gir">Giriş Yap</button>
            <button class="D1 gir2" @onclick="yak">Bir Kandil Yak</button>
        </div>
        <div></div>
    }
    else if (düğme == 1) //giriş formu
    {
        <div style="text-align: center; position: sticky;">
            <button class="D3g gir2" @onclick="dön">Geri Dön</button>
            <button class="D1 gir2" @onclick="yak">Bir Kandil Yak</button>
        </div>
        <OturumAç yön="/ana" />
    }
    else if (düğme == 2) //kayıt formu
    {
        <div style="text-align: center; position: sticky;">
            <button class="D3g gir2" @onclick="dön">Geri Dön</button>
            <button class="D1 gir2" @onclick="gir">Giriş Yap</button>
        </div>
        <KandilYak />
    }
</div>

@code {
    private static int düğme {get; set;} = 0;
    private void gir()
    {
        if (düğme != 1)
            düğme = 1;
    }
    private void yak()
    {
        if (düğme != 2)
            düğme = 2;
    }
    private void dön()
    {
        if (düğme != 0)
            düğme = 0;
    }
}

@*<div id="giriş-yap" class="giriş-iki">
<OturumAç yön="/ana" />
</div>
<div id="üye-ol" class="giriş-iki">

</div>*@