@*
Copyright (C) 2022 Yusuf Kozan

---

Bu belge Yağ Kandili'nin bir parçasıdır.

Yağ Kandili bir özgür yazılımdır: GNU Affero Genel Kamu Lisansı'nın 3.
ya da (isteğinize göre) sonraki bir sürümünün Free Software Foundation
tarafından yayınlandığı durumunun koşulları altında Yağ Kandili'ni
dağıtabilir veya Yağ Kandili üzerinde değişiklik yapabilirsiniz.

Yağ Kandili kullanışlı olması umuduyla dağıtılmaktadır ancak HİÇBİR
GARANTİ VERMEMEKTEDİR, zımni PAZARLANABİLİRLİK veya BELİRLİ BİR
AMACA UYGUNLUK garantisi bile. Daha çok ayrıntı için GNU Affero
Genel Kamu Lisansı'na bakın.

Yağ Kandili'nin yanında GNU Affero Genel Kamu Lisansı'nın bir kopyasını
almış olmalısınız. Almadıysanız, <https://www.gnu.org/licenses/>
adresine bakın.

Yağ Kandili'nin lisansıyla ilgili daha çok bilgi için /Lisans
dizinine bakın.

---

This file is part of Yağ Kandili.

Yağ Kandili is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

Yağ Kandili is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Yağ Kandili. If not, see <https://www.gnu.org/licenses/>.

For more information about the license of Yağ Kandili, see
/Lisans directory.
*@
@page "/kendi"
@layout AnaTaslak
@using System.Threading.Tasks
@using Esas
@using Bileşenler
@inject IJSRuntime JSruntime
@inject NavigationManager NavigationManager
@namespace sayfa

@if(oturum_açık)
{
    <div style="text-align: center;">
        <YönlendirenBaşlık ilk_başlık="Kendi Sayfanız"
        ikinci_başlık="Ana Sayfaya Git" ilk_renk="#0069ff"
        ikinci_renk="#ff6600"/>
        <br/>
        <div style="margin-top: 2%; margin-bottom: 1%;">
            <img src="@bakan_kullanıcı.RESİM" height="auto" id="resim"/>

            <div class="kutu_0_120_0" id="ortalama-beğeni">
                Beğeni: @ortalama_beğeni<br/>Toplam Değer: @toplam_değer
            </div>
                
            <div class="kutu_0_120_0" id="takipçi-niceliği">
                Takipçi: @takipçi_niceliği
            </div>
        </div>
        <br/>
        <button class="düğme_0_120_0" disabled="@görünenler_açık"
        @onclick="AçıklarıGöster">Açık Paylaşımlarınız</button>
        <button class="düğme_9900ff" disabled="@(!görünenler_açık)"
        @onclick="GizlileriGöster">Gizli Paylaşımlarınız</button>
    </div>
    @if(görünenler_açık)
    {
        <KişininKendiAçıkPaylaşımları bakan=@kullanıcı/>
    }
    else
    {
        <BelirliKişininGizliPaylaşımları bakan=@kullanıcı/>
    }
}
else
{
    <h1 class="Yükleniyor">Yükleniyor</h1>
}

@code {
    private bool görünenler_açık = true;

    private void AçıklarıGöster()
    {
        görünenler_açık = true;
    }
    private void GizlileriGöster()
    {
        görünenler_açık = false;
    }

    private double ortalama_beğeni;
    private double toplam_değer;
    private long takipçi_niceliği;

    private string kullanıcı, oturum;
    private bool oturum_açık;
    internal static ÜyeBil bakan_kullanıcı;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        try
        {
            var a = await JSruntime.InvokeAsync<string>("Çerezİşleri.ÇerezOku", "kullanıcı");
            kullanıcı = a.ToString(); a = null;
            var b = await JSruntime.InvokeAsync<string>("Çerezİşleri.ÇerezOku", "oturum");
            oturum = b.ToString(); b = null;
            devam();
            StateHasChanged();
        }
        catch
        {
            NavigationManager.NavigateTo("/");
        }
    }
    private void devam()
    {
        oturum_açık = Esas.VeriTabanı.Oturum.BuOturumAçık(oturum, kullanıcı);
        if (!oturum_açık)
        {
            NavigationManager.NavigateTo("/");
        }
        bakan_kullanıcı = Esas.VeriTabanı.Üyelik.ÜyeBilgileri(kullanıcı);
        ortalama_beğeni = Esas.VeriTabanı.Beğeni.KişininBeğeniOrtalaması(kullanıcı);
        toplam_değer = Esas.VeriTabanı.Beğeni.KişininToplamDeğeri(kullanıcı);
        takipçi_niceliği = Esas.VeriTabanı.Takip.TakipçiNiceliği(kullanıcı);
    }
}