@*
Copyright (C) 2022 Yusuf Kozan

---

Bu belge Yağ Kandili'nin bir parçasıdır.

Yağ Kandili bir özgür yazılımdır: GNU Affero Genel Kamu Lisansı'nın 3.
ya da (isteğinize göre) sonraki bir sürümünün Free Software Foundation
tarafından yayınlandığı durumunun koşulları altında Yağ Kandili'ni
dağıtabilir veya Yağ Kandili üzerinde değişiklik yapabilirsiniz.

Yağ Kandili kullanışlı olması umuduyla dağıtılmaktadır ancak HİÇBİR
GARANTİ VERMEMEKTEDİR, zımni PAZARLANABİLİRLİK veya BELİRLİ BİR
AMACA UYGUNLUK garantisi bile. Daha çok ayrıntı için GNU Affero
Genel Kamu Lisansı'na bakın.

Yağ Kandili'nin yanında GNU Affero Genel Kamu Lisansı'nın bir kopyasını
almış olmalısınız. Almadıysanız, <https://www.gnu.org/licenses/>
adresine bakın.

Yağ Kandili'nin lisansıyla ilgili daha çok bilgi için /Lisans
dizinine bakın.

---

This file is part of Yağ Kandili.

Yağ Kandili is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

Yağ Kandili is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Yağ Kandili. If not, see <https://www.gnu.org/licenses/>.

For more information about the license of Yağ Kandili, see
/Lisans directory.
*@
@page "/kişi/{bakılan_kişi}"
@layout AnaTaslak
@using System.Threading.Tasks
@using Esas
@using Kilnevüg
@using Bileşenler
@inject IJSRuntime JSruntime
@inject NavigationManager NavigationManager
@namespace sayfa

<!-- KişiSayfası.css kullanılıyor. -->

@if (oturum_açık)
{
    <div style="text-align:center; margin-top:1%;">
        <YönlendirenBaşlık şuraya_yönlendir="/ana" ilk_başlık=@bakılan_kullanıcı.KULLANICI_ADI
            ikinci_başlık="Ana Sayfaya Git" ilk_renk="#098bdc" ikinci_renk="#ff6600"/>
        <div style="margin-top: 2%;">
            <img src="@bakılan_kullanıcı.RESİM" height="auto" id="resim"/>

            <div class="kutu_0_120_0" id="ortalama-beğeni">
                Beğeni: @ortalama_beğeni<br/>Toplam Değer: @toplam_değer
            </div>
                
            <div class="kutu_0_120_0" id="takipçi-niceliği">
                Takipçi: @takipçi_niceliği
            </div>
        </div>
        <div style="margin-top:1%; text-align:center;">
            <button class="düğme_0_120_0" style="font-size:large; font-weight:normal;"
            @onclick="TakipDüğmesi">@TakipDüğmesininYazısı</button>
        </div>
    </div>
    <div style="margin-top: 3%;">
        <BelirliKişininPaylaşımları paylaşan="@bakılan_kullanıcı.KİMLİK"
            bakan=@bakan_kullanıcı.KİMLİK oturum=@oturum />
    </div>
}
else
{
    <h1 class="Yükleniyor">Yükleniyor</h1>
}

@code {
    [Parameter]
    public string bakılan_kişi {get; set;}
    private ÜyeBil bakılan_kullanıcı;
    private double ortalama_beğeni;
    private double toplam_değer;
    private long takipçi_niceliği;
    private bool BakanTakipEdiyor;

    protected override void OnParametersSet()
    {
        string bakılanın_kimliği = Esas.VeriTabanı.Üyelik.KullanıcınınKimliği(bakılan_kişi);
        bakılan_kullanıcı = Esas.VeriTabanı.Üyelik.ÜyeBilgileri(bakılanın_kimliği);
        takipçi_niceliği = Esas.VeriTabanı.Takip.TakipçiNiceliği(bakılanın_kimliği);
    }

    private string TakipDüğmesininYazısı {get; set;}
    private void TakipDüğmesi()
    {
        if (!BakanTakipEdiyor)
        {
            İşlemler.Takipİşlemleri.TakipEt(bakan_kullanıcı.KİMLİK, bakılan_kullanıcı.KİMLİK,
                                            1, DateTime.Now);
        }
        else
        {
            Esas.VeriTabanı.Takip.TakibiBırak(bakan_kullanıcı.KİMLİK, bakılan_kullanıcı.KİMLİK);
        }
        OnParametersSet();
    }


    private string kullanıcı, oturum;
    private bool oturum_açık;
    public static ÜyeBil bakan_kullanıcı;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        try
        {
            var a = await JSruntime.InvokeAsync<string>("Çerezİşleri.ÇerezOku", "kullanıcı");
            kullanıcı = a.ToString(); a = null;
            var b = await JSruntime.InvokeAsync<string>("Çerezİşleri.ÇerezOku", "oturum");
            oturum = b.ToString(); b = null;
            devam(kullanıcı, oturum);
            StateHasChanged();
        }
        catch
        {
            NavigationManager.NavigateTo("/");
        }
    }
    private void devam(string kullanıcı_kimliği, string oturum_kimliği)
    {
        oturum_açık = Esas.VeriTabanı.Oturum.BuOturumAçık(oturum_kimliği, kullanıcı_kimliği);
        if (!oturum_açık)
        {
            NavigationManager.NavigateTo("/");
        }
        ortalama_beğeni = Esas.VeriTabanı.Beğeni.KişininBeğeniOrtalaması(bakılan_kullanıcı.KİMLİK);
        toplam_değer = Esas.VeriTabanı.Beğeni.KişininToplamDeğeri(bakılan_kullanıcı.KİMLİK);
        bakan_kullanıcı = Esas.VeriTabanı.Üyelik.ÜyeBilgileri(kullanıcı_kimliği);
        
        BakanTakipEdiyor = Esas.VeriTabanı.Takip.TakipEdiliyor(bakan_kullanıcı.KİMLİK,
                                                            bakılan_kullanıcı.KİMLİK);
        if (BakanTakipEdiyor)
        {
            TakipDüğmesininYazısı = "Takibi Bırak";
        }
        else 
        {
            TakipDüğmesininYazısı = "Takip Et";
        }
    }
}