@*
Copyright (C) 2022 Yusuf Kozan

---

Bu belge Yağ Kandili'nin bir parçasıdır.

Yağ Kandili bir özgür yazılımdır: GNU Affero Genel Kamu Lisansı'nın 3.
ya da (isteğinize göre) sonraki bir sürümünün Free Software Foundation
tarafından yayınlandığı durumunun koşulları altında Yağ Kandili'ni
dağıtabilir veya Yağ Kandili üzerinde değişiklik yapabilirsiniz.

Yağ Kandili kullanışlı olması umuduyla dağıtılmaktadır ancak HİÇBİR
GARANTİ VERMEMEKTEDİR, zımni PAZARLANABİLİRLİK veya BELİRLİ BİR
AMACA UYGUNLUK garantisi bile. Daha çok ayrıntı için GNU Affero
Genel Kamu Lisansı'na bakın.

Yağ Kandili'nin yanında GNU Affero Genel Kamu Lisansı'nın bir kopyasını
almış olmalısınız. Almadıysanız, <https://www.gnu.org/licenses/>
adresine bakın.

Yağ Kandili'nin lisansıyla ilgili daha çok bilgi için /Lisans
dizinine bakın.

---

This file is part of Yağ Kandili.

Yağ Kandili is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

Yağ Kandili is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Yağ Kandili. If not, see <https://www.gnu.org/licenses/>.

For more information about the license of Yağ Kandili, see
/Lisans directory.
*@
@page "/paylaş"
@layout AnaTaslak
@using System.Threading.Tasks
@using Esas
@using Kilnevüg
@using Bileşenler
@inject IJSRuntime JSruntime
@inject NavigationManager NavigationManager
@namespace sayfa


    @if (oturum_açık)
    {
        <div class="p-genel">
            <YönlendirenBaşlık css_sınıfı="p-başlık" ilk_başlık="Paylaşım Yap"
            ikinci_başlık="Ana Sayfaya Dön" ilk_renk="#cc22b2" ikinci_renk="#ff6600"/><br/>
            <input type="text" class="tek-kenarlı-kutu_cc22b2"
            style="text-align: center; width: 70%; margin: 1%;"
            placeholder="Başlığı Buraya Yazın" maxlength="50" @bind="başlık"/>
            <br/>
            <textarea class="kutu_cc22b2"
            style="font-size: x-large; width: 80%; margin: 1% auto;" rows="10"
            placeholder="İçeriği Buraya Yazın" maxlength="2000"
            @bind="içerik"></textarea>
            <br/>
            @*
                Buraya lisans ekleme seçeneği gelecek.
                Beklediğimden uzun sürdüğü için özelliği erteledim.
            *@
            <button class="D1ykM" style="width: 80%; margin: 1% auto;"
            @onclick="Paylaş_Düğmesi">Paylaş</button>
            
            <div class="sayfanın_altı">
                <div class="uyarı" style=@uyarı_görünümü
                @onclick="UyarıyıKapat">@uyarı_yazısı</div>
            </div>
        </div>
    }
    else
    {
        <h1>Oturum açık değil</h1>
    }



@code {
    private string başlık, içerik;
    private string lisans = "yok";
    private void Paylaş_Düğmesi()
    {
        if (String.IsNullOrWhiteSpace(başlık) || String.IsNullOrWhiteSpace(içerik))
        {
            UyarıYap("Paylaşım yapabilmek için tüm kutuları doldurun.");
        }
        else if ((başlık.Length > 50) || (içerik.Length > 2000))
        {
            UyarıYap("Karakter sınırına uyun:\nBaşlık için 50, İçerik için 2000");
        }
        else
        {
            UyarıyıKapat();
            İşlemler.Paylaşımİşlemleri.Paylaşım_Yap(başlık, içerik, "y", oturum,
                                                    DateTime.Now, lisans);
            başlık = null;
            içerik = null;
            NavigationManager.NavigateTo("/ana");
        }
    }

    private string uyarı_görünümü = "display: none;";
    private string uyarı_yazısı;
    private void UyarıYap(string yazı)
    {
        uyarı_yazısı = yazı;
        uyarı_görünümü = "display: block;";
    }
    private void UyarıyıKapat()
    {
        uyarı_yazısı = null;
        uyarı_görünümü = "display: none;";
    }

    private string kullanıcı, oturum;
    private bool oturum_açık;
    public static ÜyeBil üye {get; set;}
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        try
        {
            var c = await JSruntime.InvokeAsync<string>("Çerezİşleri.ÇerezOku", "kullanıcı");
            kullanıcı = c.ToString(); c = null;
            var d = await JSruntime.InvokeAsync<string>("Çerezİşleri.ÇerezOku", "oturum");
            oturum = d.ToString(); d = null;
            devam(kullanıcı, oturum);
            StateHasChanged();
        }
        catch
        {
            NavigationManager.NavigateTo("/");
        }
    }
    private void devam(string kullanıcı_kimliği, string oturum_kimliği)
    {
        oturum_açık = Esas.VeriTabanı.Oturum.BuOturumAçık(oturum_kimliği, kullanıcı_kimliği);
        if (!oturum_açık)
        {
            NavigationManager.NavigateTo("/");
        }
        üye = Esas.VeriTabanı.Üyelik.ÜyeBilgileri(kullanıcı_kimliği);
    }
}