@page "/paylaş"
@layout AnaTaslak
@using System.Threading.Tasks
@using Esas
@using Kilnevüg
@using Bileşenler
@inject IJSRuntime JSruntime
@inject NavigationManager NavigationManager
@namespace sayfa


    @if (oturum_açık)
    {
        <div class="p-genel">
            <YönlendirenBaşlık css_sınıfı="p-başlık" ilk_başlık="Paylaşım Yap"
            ikinci_başlık="Ana Sayfaya Dön" ilk_renk="#cc22b2" ikinci_renk="#ff6600"/><br/>
            <input type="text" class="MetinKutusu1m-saydam" style="text-align: center; font-size: xx-large; width: 70%; margin: 1%;" placeholder="Başlığı Buraya Yazın" maxlength="50" @bind="başlık"/><br/>
            <textarea class="MetinKutusu1m-saydam" style="font-size: x-large; width: 80%; margin: 1%;" rows="10" placeholder="İçeriği Buraya Yazın" maxlength="2000" @bind="içerik"></textarea><br/>
            <!--Buraya lisans ekleme seçeneği gelecek. Beklediğimden uzun sürdüğü için özelliği erteledim.-->
            <button class="D1ykM" @onclick="Paylaş_Düğmesi">Paylaş</button>
        </div>
    }
    else
    {
        <h1>Oturum açık değil</h1>
    }



@code {
    private string başlık, içerik;
    private void Paylaş_Düğmesi()
    {
        İşlemler.Paylaşımİşlemleri.Paylaşım_Yap(başlık, içerik, "y", b, DateTime.Now);//b == kilmik
        başlık = null;
        içerik = null;
        NavigationManager.NavigateTo("/ana");
    }
    private string a, b; //a == kullanıcı adı && b == kilmik
    private bool oturum_açık;
    public static ÜyeBil üye {get; set;}
    public static string kimlik {get; private set;}
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        try
        {
            var c = await JSruntime.InvokeAsync<string>("Çerezİşleri.ÇerezOku", "kullanıcı_adı");
            a = c.ToString(); c = null;
            var d = await JSruntime.InvokeAsync<string>("Çerezİşleri.ÇerezOku", "parola");
            b = d.ToString(); d = null;
            devam(a, b);
            StateHasChanged();
        }
        catch
        {
            NavigationManager.NavigateTo("/");
        }
    }
    private void devam(string kullanıcı_adı, string kilmik)
    {
        oturum_açık = İşlemler.Oturumİşlemleri.Oturum_Uygun(kullanıcı_adı, kilmik);
        if (!oturum_açık)
        {
            NavigationManager.NavigateTo("/");
        }
        üye = TabanlıVeri.Kilmikten_ÜyeBil(kilmik);
        Paylaş.kimlik = kilmik;
    }
}