@inherits LayoutComponentBase

<div class="ana-beden">
    @Body
</div>
<div class="ana-altlık">
    <button class="D1yk" style="width: 90%; margin-left: 5%;
    margin-right: 5%;">HER ŞEY</button>
</div>