@using Esas
@using Kilnevüg
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

@namespace Bileşenler

<div class="form" style="display: block; text-align: center;">
    @if(Başlık == "Bir Kandil Yak")
    {
        <h4 class="formBaşlık" style="color:rgb(0,120,0); font-size: x-large;">@Başlık</h4>
    }
    else
    {
        <h4 class="formBaşlık" style="color:#4169e1; font-size: x-large;">@Başlık</h4>
    }
    <p style="color: #cc0000;"></p>
    @if (sayaç == 0) 
    {
    <div><input type="text" placeholder="Adınız" class="MetinKutusu1" @bind="Üye.AD"/></div>
    <div><input type="text" placeholder="Soyadınız" class="MetinKutusu1" @bind="Üye.SOYADI"/></div>
    }
    else if (sayaç == 1)
    {
    <div><input type="text" placeholder="E-Posta Adresiniz" class="MetinKutusu1" @bind="Üye.E_POSTA"/></div>
    <div><input type="text" placeholder="Kullanıcı Adınız" class="MetinKutusu1" @bind="Üye.KULLANICI_ADI"></div>
    }
    else if (sayaç == 2)
    {
    <div><input type="password" placeholder="Parolanız" class="MetinKutusu1" @bind="Üye.PAROLA"/></div>
    <div><input type="password" placeholder="Parolanız (Tekrar)" class="MetinKutusu1" @bind="diğerParola"/></div>
    }
    else
    {
        <h5>HEY</h5>
    }
    <div><button class="D1" @onclick="kandilYak">@Düğme</button></div>
</div>

@code {
    private string Başlık {get; set;} = "Bir Kandil Yak";
    private string Düğme {get; set;} = "İlerle";
    private string p {get; set;} = "";
    private ÜyeBil Üye {get; set;}
    //private Üye Üye {get; set;}
    private string diğerParola {get; set;}
    private int sayaç = 0; // 0->Ad, Soyadı | 1-> E Posta, Kullanıcı Adı | 2->Parola
    private void kandilYak()
    {
        if (Düğme == "İlerle")
        {
            if (sayaç == 0)
            {
                string[] metinler = new string[]{Üye.AD, Üye.SOYADI};
                if (!Girdiler.someAreNullOrWhiteSpace(metinler) && Girdiler.tümMetinlerUygun(metinler))
                {}
                else
                {

                }
            }
            else if (sayaç == 1)
            {}
            else
            {}
        }
        else if (Düğme == "Bir Kandil Yak")
        {
            if (sayaç == 2)
            {}
            else
            {}
        }
        else
        {
            sayaç = 0; Başlık = "Bir Kandil Yak"; Düğme = "İlerle";
        }
    }
}