@inherits LayoutComponentBase

<div class="geçici-içerik">
    @Body
</div>
<div class="geçici-altlık">
    <a href="/">
        <img src="/logo/büyük-kara.svg" alt="Yağ Kandili markası"/>
    </a>
</div>