@inherits LayoutComponentBase

<header class="giriş-header">
    <img alt="Yağ Kandili" src="/logo/YağKandili512.png"/>
    <span style="display: table-cell; font-weight: bold">Yağ Kandili</span>
</header>
<div class="giriş-body">
    @Body
</div>