@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<header class="giriş-header">
    <img alt="Yağ Kandili logosu" src="/logo/büyük-renkli.svg"/>
    @*<span style="display: table-cell; font-weight: bold">Yağ Kandili</span>*@
</header>
<div class="giriş-body">
    @Body
</div>

@code {
    private void dön()
    {
        NavigationManager.NavigateTo("/");
    }
}