@namespace Bileşenler

<div>
    <Kim kişi="@Kim"/>
</div>

@code {
    [Parameter]
    public string Nerede {private get; set;} = "/ana";
    [Parameter]
    public string Genişlik {private get; set;} = "60%";
    [Parameter]
    public string Yükseklik {private get; set;} = "100%";
    [Parameter]
    public ÜyeBil Kim {private get; set;}
}