@namespace Bileşenler

<div></div>

@code {
    [Parameter]
    public string Nerede {get; set;} = "/ana";
    [Parameter]
    public string Genişlik {get; set;} = "60%";
    [Parameter]
    public string Yükseklik {get; set;} = "100%";
}