@namespace Bileşenler

<div style="@üstBiçim">
    <Kim kişi="@Kim"/>
    <OturumKapat kişi="@Kim" nerede="@Nerede" oturum_kimliği="@KimliğiNe"/>
    <PaylaşımYap/>
    <ArayışDüğmesi/>
    @if (Nerede == "/ana")
    {
        <TümPaylaşımlarGörünsünDüğmesi/>
    }
    <TakipEdilenlerDizelgesiDüğmesi/>
    <SeçeneklerDüğmesi/>
</div>

@code {
    [Parameter]
    public string Nerede {private get; set;} = "/ana";
    [Parameter]
    public static string yGenişlik {private get; set;} = "60";
    //[Parameter]
    //public static string yYükseklik {private get; set;} = "100";
    [Parameter]
    public ÜyeBil Kim {private get; set;}
    [Parameter]
    public string KimliğiNe {private get; set;}

    private string üstBiçim = $"height: 80%; margin-bottom: 20%; width: {yGenişlik}%;" +
    $"margin-left: {((100 - Convert.ToInt32(yGenişlik))/2).ToString()}%;" +
    $"margin-right: {((100 - Convert.ToInt32(yGenişlik))/2).ToString()}%;" +
    " padding-top: 1%;" + "text-align: center;";
}