@namespace Bileşenler

<div style="@üstBiçim">
    <Kim kişi="@Kim"/>
</div>

@code {
    [Parameter]
    public string Nerede {private get; set;} = "/ana";
    [Parameter]
    public static string yGenişlik {private get; set;} = "60";
    [Parameter]
    public static string yYükseklik {private get; set;} = "100";
    [Parameter]
    public ÜyeBil Kim {private get; set;}

    private string üstBiçim = $"height: {yYükseklik}%; width: {yGenişlik}%;" +
    $"margin-left: {((100 - Convert.ToInt32(yGenişlik))/2).ToString()}%;" +
    $"margin-right: {((100 - Convert.ToInt32(yGenişlik))/2).ToString()}%;";
}