@namespace Bileşenler

<div style="text-align: center; height: 20%; color: white;">
    <img src="@kişi.RESİM" style="height: 100%;"/>
    <h1>@($"{kişi.AD} {kişi.SOYADI}")</h1>
    <h2>@kişi.KULLANICI_ADI</h2>
</div>

@code {
    [Parameter]
    public ÜyeBil kişi {private get; set;}
}