@namespace Bileşenler

<div style="text-align: center; height: 20%; color: white; font-family: sans;">
    <img src="@kişi.RESİM" style="height: 100%;"/>
</div>
<div style="text-align: center; height: 20%; color: white; font-family: sans;">
    <h1 style="margin-bottom: 0;">@($"{kişi.AD} {kişi.SOYADI}")</h1>
    <h2 style="margin-bottom: 0;">@kişi.KULLANICI_ADI</h2>
    <p style="font-weight: bold; line-height: 250%;">@(kişi.E_POSTA)</p>
</div>

@code {
    [Parameter]
    public ÜyeBil kişi {private get; set;}
}