@using Esas
@using Kilnevüg
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

@namespace Bileşenler

<div style="display: block; text-align: center; font-family: sans-serif; width: 90%;
margin:auto; max-width:15cm; padding-bottom: 5%;">
    @if(Başlık == "Giriş Yap")
    {
        <h4 style="color:rgb(0,120,0); font-size: xx-large;">@Başlık</h4>
    }
    else
    {
        <h4 style="color:#4169e1; font-size: xx-large;">@Başlık</h4>
    }
    <div><input type="text" style="width:100%;" placeholder="Kullanıcı Adı" class="MetinKutusu1" @bind="girBil[0]"/></div>
    <div><input type="password" style="width:100%;" placeholder="Parola" class="MetinKutusu1" @bind="girBil[1]"/></div>
    <div><button class="D1" @onclick="cGiriş">Giriş Yap</button>
    <button class="D2" @onclick="cParolaSıfırla">Parola Sıfırla</button></div>
</div>

@code {
    [Parameter]
    public string yön {get; set;}

    private string Başlık = "Giriş Yap";
    private string[] girBil = new string[2]; //0 = kulad, 1 = parol
    private void cGiriş()
    {
        string kulad = girBil[0];
        string parol = girBil[1];
        if (!Girdiler.allAreNullOrWhiteSpace(girBil))
        {
            if (!Girdiler.tümMetinlerUygun(girBil))
            {
                Başlık = "Kullanıcı Adınızı veya Parolanızı Hatalı Girdiniz";
            }
            else if (TabanlıVeri.KP_Kullanımda(kulad,parol))
            {
                Başlık = "Giriş Yap";
                İşlemler.Oturumİşlemleri.Oturum_Başlat(kulad, JSRuntime);
                if(String.IsNullOrWhiteSpace(yön))
                    NavigationManager.NavigateTo("/ana");
                else
                    NavigationManager.NavigateTo(yön);
            }
            else
            {
                Başlık = "Kullanıcı Adınızı veya Parolanızı Hatalı Girdiniz";
            }
        }
        else
        {
            Başlık = "Kullanıcı Adınızı veya Parolanızı Girmediniz";
        }
        kulad = null;
        parol = null;
    }

    private void cParolaSıfırla()
    {}
}