@*
Copyright (C) 2022 Yusuf Kozan

---

Bu belge Yağ Kandili'nin bir parçasıdır.

Yağ Kandili bir özgür yazılımdır: GNU Affero Genel Kamu Lisansı'nın 3.
ya da (isteğinize göre) sonraki bir sürümünün Free Software Foundation
tarafından yayınlandığı durumunun koşulları altında Yağ Kandili'ni
dağıtabilir veya Yağ Kandili üzerinde değişiklik yapabilirsiniz.

Yağ Kandili kullanışlı olması umuduyla dağıtılmaktadır ancak HİÇBİR
GARANTİ VERMEMEKTEDİR, zımni PAZARLANABİLİRLİK veya BELİRLİ BİR
AMACA UYGUNLUK garantisi bile. Daha çok ayrıntı için GNU Affero
Genel Kamu Lisansı'na bakın.

Yağ Kandili'nin yanında GNU Affero Genel Kamu Lisansı'nın bir kopyasını
almış olmalısınız. Almadıysanız, <https://www.gnu.org/licenses/>
adresine bakın.

Yağ Kandili'nin lisansıyla ilgili daha çok bilgi için /Lisans
dizinine bakın.

---

This file is part of Yağ Kandili.

Yağ Kandili is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

Yağ Kandili is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Yağ Kandili. If not, see <https://www.gnu.org/licenses/>.

For more information about the license of Yağ Kandili, see
/Lisans directory.
*@
@using Esas
@using Kilnevüg
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

@namespace Bileşenler

<div style="display: block; text-align: center; font-family: sans-serif; width: 90%;
margin:auto; max-width:15cm; padding-bottom: 5%;" @onkeyup="DüğmeyeBasıldı">
    @if(Başlık == "Giriş Yap")
    {
        <h4 style="color:rgb(0,120,0); font-size: xx-large;">@Başlık</h4>
    }
    else
    {
        <h4 style="color:#4169e1; font-size: xx-large;">@Başlık</h4>
    }

    <input type="text" style="width:100%;" placeholder="Kullanıcı Adı"
    class="tek-kenarlı-kutu_0_120_0" @bind="kullanıcı_adı"/>

    <input type="password" style="width:100%;" placeholder="Parola"
    class="tek-kenarlı-kutu_0_120_0" @bind="parola"/>
    
    <button class="düğme_0_120_0" @onclick="GirişYap"
    style="font-size: large; margin-top: 3%;"
    >Giriş Yap</button>
</div>

@code {
    [Parameter]
    public string yön {get; set;}

    private string Başlık = "Giriş Yap";
    private string kullanıcı_adı, parola;
    private void GirişYap()
    {
        if (String.IsNullOrWhiteSpace(kullanıcı_adı) || String.IsNullOrWhiteSpace(parola))
        {
            Başlık = "Giriş Reddedildi";
        }
        else if (Esas.VeriTabanı.Üyelik.KullanıcıAdıKullanımda(kullanıcı_adı))
        {
            string kullanıcı_kimliği = Esas.VeriTabanı.Üyelik.KullanıcınınKimliği(kullanıcı_adı);
            string parola_bilgileri = Esas.VeriTabanı.Üyelik.KullanıcınınParolaBilgileri(kullanıcı_kimliği);
            if (Parolalar.ParolaDoğru(parola_bilgileri, parola))
            {
                Başlık = "Giriş Yap";
                İşlemler.Oturumİşlemleri.Oturum_Başlat(kullanıcı_adı, JSRuntime);
                if(String.IsNullOrWhiteSpace(yön))
                    NavigationManager.NavigateTo("/ana");
                else
                    NavigationManager.NavigateTo(yön);
            }
            else
            {
                Başlık = "Giriş Reddedildi";
            }
        }
    }
    private void DüğmeyeBasıldı(KeyboardEventArgs klavye_olayları)
    {
        if (klavye_olayları.Key == "Enter")
        {
            GirişYap();
        }
    }
}