@using Esas
@inject IJSRuntime JSruntime
@namespace Bileşenler

<button class="D1ykK" style="margin: 2%;" @onclick="oturumKapat">Çık</button>

@code {
    [Parameter]
    public ÜyeBil kişi {private get; set;}
    [Parameter]
    public string nerede {private get; set;} = "/ana";
    [Parameter]
    public string kimliği_ne {private get; set;}

    private void oturumKapat()
    {
        İşlemler.Oturumİşlemleri.Oturum_Kapat(kişi.KULLANICI_ADI, kimliği_ne, JSruntime);
    }
}