@using Esas
@using Kilnevüg
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

@namespace Bileşenler

<div class="form" style="display: inline-block;">
    @if(Başlık == "Giriş Yap")
    {
        <h4 class="formBaşlık" style="color:rgb(0,120,0); font-size: x-large;">@Başlık</h4>
    }
    else
    {
        <h4 class="formBaşlık" style="color:#4169e1; font-size: x-large;">@Başlık</h4>
    }
    <input type="text" placeholder="Kullanıcı Adı" id="cKullanıcıAdı" class="MetinKutusu1" @bind="kulad"/>
    <input type="password" placeholder="Parola" id="cParola" class="MetinKutusu1" @bind="parol"/>
    <button class="D1" @onclick="cGiriş">Giriş Yap</button>
    <button class="D2" @onclick="cParolaSıfırla">Parola Sıfırla</button>
</div>

@code {
    [Parameter]
    public string yön {get; set;}

    private string Başlık = "Giriş Yap";
    private string kulad {get; set;}
    private string parol {get; set;}
    private void cGiriş()
    {
        if (TabanlıVeri.KPDoğru(kulad,parol))
        {
            Başlık = "Giriş Yap";
            string kilmik = Kilnevüg.YeniEşsizKimlik(kulad);
            TabanlıVeri.OturumAç(kilmik);
            Çerezler çerez = new Çerezler(JSRuntime);
            çerez.ÇerezYap(kulad, kilmik, 12);
            if(String.IsNullOrWhiteSpace(yön))
                NavigationManager.NavigateTo("/ana");
            else
                NavigationManager.NavigateTo(yön);
        }
        else
        {
            Başlık = "Kullanıcı Adınızı veya Parolanızı Hatalı Girdiniz";
        }
    }

    private void cParolaSıfırla()
    {}
}