@using Esas
@using Kilnevüg
@using İşlemler
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

@namespace Bileşenler

<div style="display: block; text-align: center; font-family: sans-serif; width: 90%;
margin:auto; max-width:15cm; padding-bottom: 5%;">
    @if(Başlık == "Bir Kandil Yak")
    {
        <h4 style="color:rgb(0,120,0); font-size: xx-large;">@Başlık</h4>
    }
    else
    {
        <h4 style="color:#4169e1; font-size: xx-large;">@Başlık</h4>
    }
    <p style="color: #cc0000;">@p</p>
    <div><input type="text" style="width:100%;" placeholder="Adınız" class="MetinKutusu1" @bind="bilgiler[0]"/></div>
    <div><input type="text" style="width:100%;" placeholder="Soyadınız" class="MetinKutusu1" @bind="bilgiler[1]"/></div>
    <div><input type="text" style="width:100%;" placeholder="E-Posta Adresiniz" class="MetinKutusu1" @bind="bilgiler[3]"/></div>
    <div><input type="text" style="width:100%;" placeholder="Kullanıcı Adınız" class="MetinKutusu1" @bind="bilgiler[2]"></div>
    <div><input type="password" style="width:100%;" placeholder="Parolanız" class="MetinKutusu1" @bind="bilgiler[4]"/></div>
    <div><input type="password" style="width:100%;" placeholder="Parolanız (Tekrar)" class="MetinKutusu1" @bind="bilgiler[5]"/></div>
    
    @*<div><input type="text" placeholder="@ph1" class="MetinKutusu1" @bind="bir"/></div>
    <div><input type="text" placeholder="@ph2" class="MetinKutusu1" @bind="iki"/></div>*@
    <div><button class="D1" @onclick="KandilYak">@Düğme</button></div>
</div>

@code {
    private string Başlık {get; set;} = "Bir Kandil Yak";
    private string Düğme {get; set;} = "Bir Kandil Yak";
    private string p {get; set;} = "Bütün kutuları doldurmalısınız.";
    private string[] bilgiler = new string[7]; //ad(0), soyadı(1), kullanıcı adı(2), e-posta(3), parola(4), parola(tekrar)(5), resim(6)
    private void KandilYak()
    {
        if (bilgiler[4] != bilgiler[5])
        {
            Başlık = "Girilen iki parola farklı";
            bilgiler[4] = null; bilgiler[5] = null;
        }
        else
        {
            bool KullanıcıAdıKullanımda = Esas.VeriTabanı.Üyelik.KullanıcıAdıKullanımda(bilgiler[2]);
            bool EPostaKullanımda = Esas.VeriTabanı.Üyelik.EPostaKullanımda(bilgiler[3]);
            if (EPostaKullanımda)
            {
                Başlık = "Bu e-posta adresi uygun değil";
                bilgiler[3] = null;
            }
            else if (KullanıcıAdıKullanımda)
            {
                Başlık = "Bu kullanıcı adı uygun değil";
                bilgiler[2] = null;
            }
            else
            {
                Başlık = "Bir Kandil Yak";
                bilgiler[6] = "resimler/kullanıcı/0069ff.png";
                byte[] tuz = Parolalar.YeniTuz();
                bilgiler[4] = Parolalar.argon2id8_32_2_32(bilgiler[4], tuz);
                Üye yeni_üye = new Üye(bilgiler[0], bilgiler[1], bilgiler[2], bilgiler[4],
                                        bilgiler[3], "kullanıcı", DateTime.Now, bilgiler[6]);
                Üyelikİşlemleri.ÜyeOluştur(yeni_üye);
                Oturumİşlemleri.Oturum_Başlat(yeni_üye.KULLANICI_ADI, JSRuntime);
                NavigationManager.NavigateTo("/ana");
            }
        }
    }
}