@*
Copyright (C) 2022 Yusuf Kozan

---

Bu belge Yağ Kandili'nin bir parçasıdır.

Yağ Kandili bir özgür yazılımdır: GNU Affero Genel Kamu Lisansı'nın 3.
ya da (isteğinize göre) sonraki bir sürümünün Free Software Foundation
tarafından yayınlandığı durumunun koşulları altında Yağ Kandili'ni
dağıtabilir veya Yağ Kandili üzerinde değişiklik yapabilirsiniz.

Yağ Kandili kullanışlı olması umuduyla dağıtılmaktadır ancak HİÇBİR
GARANTİ VERMEMEKTEDİR, zımni PAZARLANABİLİRLİK veya BELİRLİ BİR
AMACA UYGUNLUK garantisi bile. Daha çok ayrıntı için GNU Affero
Genel Kamu Lisansı'na bakın.

Yağ Kandili'nin yanında GNU Affero Genel Kamu Lisansı'nın bir kopyasını
almış olmalısınız. Almadıysanız, <https://www.gnu.org/licenses/>
adresine bakın.

Yağ Kandili'nin lisansıyla ilgili daha çok bilgi için /Lisans
dizinine bakın.

---

This file is part of Yağ Kandili.

Yağ Kandili is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

Yağ Kandili is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Yağ Kandili. If not, see <https://www.gnu.org/licenses/>.

For more information about the license of Yağ Kandili, see
/Lisans directory.
*@
@using Esas
@using Kilnevüg
@using İşlemler
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

@namespace Bileşenler

<div style="display: block; text-align: center; font-family: sans-serif; width: 90%;
margin:auto; max-width:15cm; padding-bottom: 5%;">
    @if(Başlık == "Bir Kandil Yak")
    {
        <h4 style="color:rgb(0,120,0); font-size: xx-large;">@Başlık</h4>
    }
    else
    {
        <h4 style="color:#4169e1; font-size: xx-large;">@Başlık</h4>
    }
    <p style="color: #cc0000;">@p</p>
    <div><input type="text" style="width:100%;" placeholder="Adınız" class="MetinKutusu1" @bind="bilgiler[0]"/></div>
    <div><input type="text" style="width:100%;" placeholder="E-Posta Adresiniz" class="MetinKutusu1" @bind="bilgiler[2]"/></div>
    <div><input type="text" style="width:100%;" placeholder="Kullanıcı Adınız" class="MetinKutusu1" @bind="bilgiler[1]"></div>
    <div><input type="password" style="width:100%;" placeholder="Parolanız" class="MetinKutusu1" @bind="bilgiler[3]"/></div>
    <div><input type="password" style="width:100%;" placeholder="Parolanız (Tekrar)" class="MetinKutusu1" @bind="bilgiler[4]"/></div>
    
    @*<div><input type="text" placeholder="@ph1" class="MetinKutusu1" @bind="bir"/></div>
    <div><input type="text" placeholder="@ph2" class="MetinKutusu1" @bind="iki"/></div>*@
    <div><button class="D1" @onclick="KandilYak">@Düğme</button></div>
</div>

@code {
    private string Başlık {get; set;} = "Bir Kandil Yak";
    private string Düğme {get; set;} = "Bir Kandil Yak";
    private string p {get; set;} = "Bütün kutuları doldurmalısınız.";
    private string[] bilgiler = new string[6]; //ad(0), kullanıcı adı(1), e-posta(2), parola(3), parola(tekrar)(4), resim(5)
    private void KandilYak()
    {
        if (bilgiler[3] != bilgiler[4])
        {
            Başlık = "Girilen iki parola farklı";
            bilgiler[3] = null; bilgiler[4] = null;
        }
        else
        {
            bool KullanıcıAdıKullanımda = Esas.VeriTabanı.Üyelik.KullanıcıAdıKullanımda(bilgiler[1]);
            bool EPostaKullanımda = Esas.VeriTabanı.Üyelik.EPostaKullanımda(bilgiler[2]);
            if (EPostaKullanımda)
            {
                Başlık = "Bu e-posta adresi uygun değil";
                bilgiler[2] = null;
            }
            else if (KullanıcıAdıKullanımda)
            {
                Başlık = "Bu kullanıcı adı uygun değil";
                bilgiler[1] = null;
            }
            else
            {
                Başlık = "Bir Kandil Yak";
                bilgiler[5] = "resimler/avatar/0069ff.svg";
                byte[] tuz = Parolalar.YeniTuz();
                bilgiler[3] = Parolalar.argon2id8_32_2_32(bilgiler[3], tuz);
                Üye yeni_üye = new Üye(bilgiler[0], bilgiler[1], bilgiler[3],
                                        bilgiler[2], "kullanıcı", DateTime.Now, bilgiler[5]);
                Üyelikİşlemleri.ÜyeOluştur(yeni_üye);
                Oturumİşlemleri.Oturum_Başlat(yeni_üye.KULLANICI_ADI, JSRuntime);
                NavigationManager.NavigateTo("/ana");
            }
        }
    }
}