@using Esas
@using Kilnevüg
@using İşlemler
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

@namespace Bileşenler

<div class="form" style="display: block; text-align: center;">
    @if(Başlık == "Bir Kandil Yak")
    {
        <h4 class="formBaşlık" style="color:rgb(0,120,0); font-size: x-large;">@Başlık</h4>
    }
    else
    {
        <h4 class="formBaşlık" style="color:#4169e1; font-size: x-large;">@Başlık</h4>
    }
    <p style="color: #cc0000;">@p</p>
    <div><input type="text" placeholder="Adınız" class="MetinKutusu1" @bind="bilgiler[0]"/></div>
    <div><input type="text" placeholder="Soyadınız" class="MetinKutusu1" @bind="bilgiler[1]"/></div>
    <div><input type="text" placeholder="E-Posta Adresiniz" class="MetinKutusu1" @bind="bilgiler[2]"/></div>
    <div><input type="text" placeholder="Kullanıcı Adınız" class="MetinKutusu1" @bind="bilgiler[3]"></div>
    <div><input type="password" placeholder="Parolanız" class="MetinKutusu1" @bind="bilgiler[4]"/></div>
    <div><input type="password" placeholder="Parolanız (Tekrar)" class="MetinKutusu1" @bind="bilgiler[5]"/></div>
    
    @*<div><input type="text" placeholder="@ph1" class="MetinKutusu1" @bind="bir"/></div>
    <div><input type="text" placeholder="@ph2" class="MetinKutusu1" @bind="iki"/></div>*@
    <div><button class="D1" @onclick="kandilYak">@Düğme</button></div>
</div>

@code {
    private string Başlık {get; set;} = "Bir Kandil Yak";
    private string Düğme {get; set;} = "Bir Kandil Yak";
    private string p {get; set;} = "Noktalı virgül ve yay ayraç kullanılamaz. Bütün alanlar doldurulmalıdır.";
    private string[] bilgiler = new string[6]; //ad, soyadı, e-posta, kullanıcı adı, parola, parola(tekrar)
    private void kandilYak()
    {
        if (Girdiler.tümMetinlerUygun(bilgiler))
        {
            if (bilgiler[4] == bilgiler[5])
            {
                bool kullanıcıVar = TabanlıVeri.Kullanıcı_Var(bilgiler[3]), ePostaVar = TabanlıVeri.ePosta_Var(bilgiler[2]); 
                if (!kullanıcıVar && !ePostaVar)
                {
                    Başlık = "Bir Kandil Yak";
                    çÜye yeniüye = new çÜye(bilgiler[0], bilgiler[1], bilgiler[3], bilgiler[4], bilgiler[2], DateTime.Now, "kullanıcı");
                    bilgiler = null;
                    Oturumİşlemleri.Üye_Oluştur(yeniüye);
                    Oturumİşlemleri.Oturum_Başlat(yeniüye.KULLANICI_ADI, JSRuntime);
                    NavigationManager.NavigateTo("/ana");
                }
                else if (kullanıcıVar)
                {
                    Başlık = "Bu Kullanıcı Adı Başkası Tarafından Kullanılıyor"; bilgiler[3] = null;
                }
                else if (ePostaVar)
                {
                    Başlık = "Bu E-Posta Adresi Başkası Tarafından Kullanılıyor"; bilgiler[2] = null;
                }
            }
            else
            {
                Başlık = "Girilen iki parola aynı değil";
                bilgiler[4] = null; bilgiler[5] = null;
            }
        }
        else
        {
            Başlık = "Şartlara Uygun Bilgi Verin";
        }
    }
}